---
import Section from "@/components/Section.astro";
import { certificates } from "@cv";
---

<Section title="Certificates" className="no-print">
  <ul>
    {
      certificates.map(({ name, date, issuer, summary }) => {
        const years = new Date(date).getFullYear();
        return (
          <li>
            <article>
              <header>
                <h3>{`${name} → ${issuer}`}</h3>
                <time>{years}</time>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>

  <style>
    ul {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
    }
    article h3 {
      font-weight: 500;
      color: #111;
    }
    time {
      font-size: 0.85rem;
      color: #666;
    }
    @media screen and (max-width: 600px) {
      header {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
      }
    }
  </style>
</Section>
